*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.body-container {
  margin-left: 10%;
  margin-right: 10%;
}

/* FOR NAVIGATION */
#content-container {
  border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#nav-container {
  display: flex;
  flex-direction: row;

  border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem;
  padding: 1%;

  text-align: center;
  justify-content: center;
  background-color: #000;

  font-size: 1.5rem;
}

/* #-nav-link-container {
  border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem;
} */

li {
  list-style-type: none;

  padding-left: 1%;
  padding-right: 1%;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* FOR TEXT */
#text-container {
  border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem;
  padding: 2%;

  text-align: center;
}

#footer {
  border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem;

  text-align: center;
}








/* From different source */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}