*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-image: linear-gradient(to right, white, rgba(194, 219, 254), white);
  /* background-color: rgba(194, 219, 254, 1); */
}

/* h2 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Open Sans", sans-serif;
} */

.body-container {
  margin-left: 7%;
  margin-right: 7%;
}

/* FOR NAVIGATION */
#nav-container {
  display: flex;
  flex-direction: row;

  /* border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem; */
  padding: 1%;

  text-align: center;
  justify-content: center;
  background-color: #023b6d;

  font-size: 1.5rem;
}

li {
  list-style-type: none;

  padding-left: 1%;
  padding-right: 1%;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* FOR CONTENT */
#home-section {
  background-color: white;

  padding-bottom: 2%;
}

#home-heading {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;

  padding: 3%;
}

#home-text {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

#about-section {
  background-color: #f5f8fd;

  padding-bottom: 1%;
}

#portfolio-section {
  background-color: white;

  padding-bottom: 2%;
}

#section-heading {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;

  border-bottom: 2px solid;

  padding: 1%;

  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 1%;
}

#content-container {
  /* border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem; */

  display: block;
  
  text-align: center;

  padding-top: 4%;
  padding-left: 15%;
  padding-right: 15%;
}

#c1-container {
  display: flex;
  flex-direction: row;

  /* border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem; */

  /* border-top: 2px solid;
  border-bottom: 2px solid; */

  font-family: "Open Sans", sans-serif;
}

#c1-link {
  font-family: "Open Sans", sans-serif; 
}

#c2-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem; */

  /* border-top: 2px solid;
  border-bottom: 2px solid; */

  font-family: "Open Sans", sans-serif;
}

#c2-link {
  font-family: "Open Sans", sans-serif; 
}

#c3-container-sdl {
  display: flex;
  flex-direction: column;

  margin-bottom: 2%;

  /* border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem; */
  /* border-top: 2px solid; */

  font-family: "Open Sans", sans-serif;
}

#c3-container-secureshare {
  display: flex;
  flex-direction: column;

  margin-bottom: 2%;

  /* border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem; */

  font-family: "Open Sans", sans-serif;
}

#c3-container-picnic {
  display: flex;
  flex-direction: column;

  margin-bottom: 2%;

  /* border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem;
  border-bottom: 2px solid; */

  font-family: "Open Sans", sans-serif;
}

#c3-link {
  font-family: "Open Sans", sans-serif; 
}

#about-picture {
  margin-left: 1%;
  margin-right: 5%;
}

#about-text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;

  font-size: 1.2rem;

  margin-right: 5%;
}

#portfolio-text {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}






#github-link-text {
  color: #000;
}

#about-text-col {
  display: flex;
  flex-direction: column;
}

#info-list {
  display: flex;
  flex-direction: row;

  padding: 2%;
}

#span-text {
  padding-left: 2%;
}

#span-link {
  color: #000;
}

/* FOR TEXT */
/* #text-container {
  border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem;
  padding: 2%;

  text-align: center;
} */

#footer {
  /* border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem; */

  text-align: center;
}








/* From different source */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}